body{
    text-transform: capitalize;
    word-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
    transition-delay: 5s;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);   
}
   .form-group.col-md-6 th{
    text-transform: uppercase;
    text-align: center;
    background-color: brown;
   }
   .form-group.col-md-6 h1{
        color: rgb(255, 246, 246);
        text-decoration: none;
        padding:10px 20px;
        
    }
    .table.table-bordered table {
        width: 600px ;
        
    }
    .table.table-bordered table, td, th {
        border-bottom: 1px solid #333;
    }
    .table.table-bordered td,th {
         padding: 6px 10px;
         text-align: center;
     }
     .table.table-bordered td {
         color:#333;
     }
     .table.table-bordered.form-group.col-md-6 {
         color:blueviolet;
     }
     .table.table-bordered {
         background:rgb(228, 181, 51);
         color:#fff;
          margin-right: auto; 
                 margin-left: auto; 

     }
     .table.table-bordered tr:hover {
        background: rgb(247, 242, 242);

    }
   .table.table-bordered a {
        background: #FFF;
        border: 1px solid #55c65e;
        color: #48b151;
        font-weight: normal;
    }